.bacon
{
    background-color: red
}

.brocolli
{
    background-color: green;
    border-radius: 100%;
}


#heading1
{
    color: red;
}

img:hover
{
    background-color: gold;
}


